#active_page{
    color: brown;
}
@font-face {
    font-family: "HeliosRegular";
    src: url("../fonts/HeliosRegular/HeliosRegular.eot");
    src: url("../fonts/HeliosRegular/HeliosRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HeliosRegular/HeliosRegular.woff") format("woff"),
    url("../fonts/HeliosRegular/HeliosRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
html * {
    box-sizing: border-box;
    font-size: 100%; !important;
    font-family: HeliosRegular, serif !important;

}





/* ***************************************************************************
*****************************Header Block*************************************
****************************************************************************/
.main_header {
    width: 100%;
    z-index: 9;
    position: relative;
    height: 50px;

}
    .navigation {
        height: inherit;
        position: fixed;
        width: 100%;
        background-color: #ffffff;
        top: 0;
        left: 0;
        margin: 0;
        border-bottom:  thin solid lightgrey;


    }

        .navigation-internal
           {
               width: 70%;
               float: left;


           }
               .logo_small{


                  float: left;
                  position: relative;
                  height: 35px;

                  }
               .logo_small img{
                   position: inherit;
                   padding-top: 10px;

               }

        .navigation-internal ul
        {
             }

              .navigation-internal ul li {
                  display: inline-block;
                  list-style-type: none;
                  padding-left: 7%;
                  margin-top: 15px;
                                   }


                .navigation-internal  a
                {
                    color: #2c3c27;
                    text-transform: uppercase;
                    font-size: 12px;
                    text-decoration: none;
                    padding-left: 5%;
                    top: 10px;


                }

        .navigation-external
        {

            float: left;
            width: 30%;

        }
            .navigation-external ul {
                margin-top: 15px;
            }
            .navigation-external ul li {
                display: inline;
                list-style-type: none;


            }
            .navigation-external li a
            {
                text-decoration: none;

            }

/* ***************************************************************************
*****************************LOGO Block***************************************
****************************************************************************/
.logo_big {
    height:125px;
    width:125px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.logo_big img {
    position: relative;
}
/* ***************************************************************************
*****************************portfolio Block**********************************
****************************************************************************/
.Main_content{
    float: left;
    width: 70%;
}
    .Main_content div{
        height: 200px;
        width: 200px;
        display: inline-block;
        position: relative;

    }

    .Main_content img {
        height:180px ;
        max-width: 180px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
            }
/* ***************************************************************************
*****************************SideBar Block************************************
****************************************************************************/
.main_sidebar{
    float: left;
    width: 200px;
    position: relative;

}
    .Avatar{
        margin-bottom: 15px;
            }
        .Avatar img{
            width: 100%;
        }
    .main_sidebar a
    {
        text-decoration: none;

    }
    .main_sidebar span
    {
        color: silver;
        font-size: 80%;
    }
    .main_sidebar p {

        font-size: 80%;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 10px;
    }
    .main_sidebar h2{

        text-align: center;
        font-weight: bold;
    }
    .Tags a {

        text-align: left;
        margin-left:15px;
        font-size: 10px;
    }
    .sidebar_inst img{
        width: 100%;
    }
.Popular_Story{

}

.sidebar_photo{

    display: inline-block;
    position: relative;

}

.Popular_Story img {

    width: 80px;
    height:80px;
    margin-left: 10px;
    margin-top: 10px;


}
/* ***************************************************************************
*****************************Footer Block************************************
****************************************************************************/

footer {
    content: " ";
    clear: both;
    color: rgba(169, 169, 169, 0.5);
|}

footer h3{
    text-align: center;
    font-size: 10px;
}
footer h5{
    text-align: center;
    font-size: 8px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 20px;

}
