
@font-face {
    font-family: "HeliosRegular";
    src: url("../fonts/HeliosRegular/HeliosRegular.eot");
    src: url("../fonts/HeliosRegular/HeliosRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HeliosRegular/HeliosRegular.woff") format("woff"),
    url("../fonts/HeliosRegular/HeliosRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Trebuchet";
    src: url("../fonts/TrebuchetMS/TrebuchetMS.eot");
    src: url("../fonts/TrebuchetMS/TrebuchetMS.eot?#iefix")format("embedded-opentype"),
    url("../fonts/TrebuchetMS/TrebuchetMS.woff") format("woff"),
    url("../fonts/TrebuchetMS/TrebuchetMS.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html * {
    box-sizing: border-box;
    font-size: 100%; !important;
    font-family: Trebuchet, serif !important;

}


/* ***************************************************************************
*****************************Preloader Block*************************************
****************************************************************************/
.loader-wrapper{
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    position: absolute;
}

.typing-indicator {
    background-color: #E6E7ED;
    width: auto;
    border-radius: 50px;
    padding: 20px;
    display: table;
    margin: 20em auto;
    position: relative;
    -webkit-animation: 2s bulge infinite ease-out;
    animation: 2s bulge infinite ease-out;
    z-index: 999;
}
.typing-indicator:before, .typing-indicator:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #E6E7ED;

}
.typing-indicator:after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
}
.typing-indicator span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
    -webkit-animation: 1s blink infinite 0.3333s;
    animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
    -webkit-animation: 1s blink infinite 0.6666s;
    animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
    -webkit-animation: 1s blink infinite 0.9999s;
    animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
    50% {
        opacity: 1;
    }
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}
@-webkit-keyframes bulge {
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
@keyframes bulge {
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
html {
    display: table;
    height: 100%;
    width: 100%;
}
body {
    display: table-cell;
    vertical-align: middle;
}

/* ***************************************************************************
*****************************Proceses Block*************************************
****************************************************************************/
.navigation-internal a:hover {
    color: silver;
    text-decoration: none;
}

.navigation-external li:hover path  {
            fill: black;
}
.Tags a:hover{
    color: black;
    font-weight:bold;
    text-decoration: none;
}
.about_me a:hover {

    color: black;
    text-decoration: none;
}
.about_me a:hover span{

    color: black;
    font-weight:bold;
    text-decoration: none;
}

.Share_container path:hover {
    fill:black;
    text-decoration: none;
}

.header_of_motion a:hover{
    color: black;
    font-weight:bold;
    text-decoration: none;
}
.like_share a:hover{

    text-decoration: none;
    color:black;

}


.Full_site_holder{
padding-left:30px;

}
.Blog_name:hover{
    color:silver;
}



/* ***************************************************************************
*****************************main Block*************************************
****************************************************************************/


.Main_Side{
    width: 1200px;
    position: relative;
    margin: auto;

}
.logo_small{
    position: absolute;
    z-index: 90;
    left:-25px;

}
.logo_small img{
    position: inherit;
    padding-top: 10px;
    height: 35px;

}


/* ***************************************************************************
*****************************Header Block*************************************
****************************************************************************/
.main_header {
    margin: auto;
    z-index: 5;
    position: relative;

    height: 50px;

}
    .navigation {
        width:1200px;
        height: inherit;
        position: fixed;

        background-color: #ffffff;
        top: 0;
       
        margin: 0;

    }

        .navigation-internal
           {
               width: 83%;
               float: left;
               display: inline-block;

           }

        .navigation-internal ul
        {


             }
                .first_el{
                    padding-left: 10px
                }

              .navigation-internal ul li {
                  display: inline-block;
                  list-style-type: none;
                  margin-top: 17px;
                  padding-right: 96px;
                  text-align: center;
                                                     }


                .navigation-internal a
                {
                    color: #2c3c27;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight:700;
                    text-decoration: none;
                    margin-left: 13px;
                    top: 10px;



                }
                #Contacts{
                 
                }

        .navigation-external
        {

            float: left;
            width: 17%;

        }
            .navigation-external ul {
                margin-top: 15px;
                ;
            }
            .navigation-external ul li {
                display: inline-block;
                list-style-type: none;
                width: 18%;

            }
            .navigation-external svg {
              width: 25px;
              height: 25px;
            }
            .navigation-external path{ fill: silver}

            .navigation-external li a
            {
                text-decoration: none;

            }
.Fixed_line{
    margin: 0;
    border-top: 1px solid silver;
    position: fixed;
    color:silver;
    z-index: 90;
    width:100%;
    left: 0;
}
/* ***************************************************************************
*****************************LOGO Block***************************************
****************************************************************************/
.logo_big {
    height:125px;
    width:125px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.logo_big img {
    position: relative;
}
/* ***************************************************************************
*****************************portfolio Block**********************************
****************************************************************************/

.Main_content{
    float: left;
    width: 1000px;}
 .Preview_poligon, .Preview_info {
        height: 300px;
        width: 300px;
        display: inline-block;
        position: relative;

    }

    .Preview_photo img, .Preview_info img {
        height:280px ;
        max-width: 280px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;

            }

.Preview_info a{
    text-decoration: none;
    width: inherit;
    height: inherit;
    padding: 10px;

    vertical-align: middle;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 30px;
    display: table-cell;
    visibility: hidden;
}
    .Preview_info:hover a{
        visibility: visible;}




/* ***************************************************************************
*****************************SideBar Block************************************
****************************************************************************/
.main_sidebar{
    float: left;
    width: 200px;
    position: relative;

}
/* --------------------------- about me --------------------------- */
    .Avatar{
        margin-top:20px;
        margin-bottom: 15px;
            }
        .Avatar img{
            width: 100%;
        }
    .main_sidebar a
    {
        text-decoration: none;


    }
    .main_sidebar span
    {
        color: silver;
        font-style: italic;
        font-size: 10px;
    }
    .main_sidebar p {

        font-size: 12px;
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 10px;
    }
    .main_sidebar hr {
        margin-top: 10px;
        margin-bottom: 10px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .main_sidebar h2{

        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin:0;
    }

/* --------------------------- tags --------------------------- */
    .Tags{


    }
    .Tags li {

        margin-top: 5px;
    }
    

    .Tags a {
        text-decoration: none;
        text-align: left;
        margin-left:15px;
        font-size: 14px;
        color:silver;
        text-transform: uppercase;
    }

/* --------------------------- instagram widget  --------------------------- */

.carusel {

    position: relative;
    width: 200px;
    height: 200px;
   /* background-image: url("/img/ava_inst.jpg"); */

}

.sidebar_inst .inst_item{

        position: absolute;
        top: 0;
        left: 0;
        display: none;
        z-index: 4;
        opacity: 1;
        width: 200px;
        height: 200px;
}
    .sidebar_inst img{
        width: 100%;

    }

/* --------------------------- popular stories  --------------------------- */
.Popular_Story{

}

.sidebar_photo{

    display: inline-block;
    position: relative;

}

.Popular_Story img {

    width: 80px;
    height:80px;
    margin-left: 10px;
    margin-top: 10px;


}
.Popular_info{
    margin-left: 10px;
    margin-top: 10px;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    width: 80px;
    position: absolute;
}
.Popular_info a {
    text-decoration: none;
    width: inherit;
    height: inherit;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.9);
    color: #000;

    font-size: 8px;
    line-height: 20px;
    display: table-cell;
    visibility: hidden;
    position: absolute;
}
.Popular_Story .Popular_info:hover a{visibility: visible;}
/* ***************************************************************************
*****************************Footer Block************************************
****************************************************************************/

footer {

    content: " ";
    clear: both;
    color: rgba(169, 169, 169, 0.5);
|}

footer h3{
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
}
footer h5{
    text-align: center;
    font-size: 10px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 20px;

}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
**********************************Single Blog elements************************
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.header_of_motion {
    margin: auto;
    text-align: center;
}
.Blog_name {

    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;}

.header_of_motion span{

    color: silver;
    font-size: 12px;
    text-decoration: none;
}
.header_of_motion a{

    text-decoration: none;
    color: silver;
    font-size: 12px;
}
.header_of_motion+ hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid #eee;
}
.text_overview {

    text-align: justify;

}

/*********************** list of photo **************************/
.Blog_photo{
    position: relative;
    /*  display: inline; */

    margin-bottom: 15px;
}
.Blog_photo img[alt="Blog_photo"]{
    width:890px;


}



/*********************** like bar **************************/
.like_share{


    width: 890px;



}
.like_share a{
    text-decoration: none;
}


.Svg_holder {
    display: inline;
    position: relative;

}
.Share_container{
    display: inline;
}

.Share_container .read_more{
    display: table-cell;
    vertical-align: middle;
    height: 55px;
    padding-top: 10px;
    float: left;
    width:50%;
    text-align: right;

}
.read_more a{
    font-style: italic;
    font-size: 20px;
    color: silver;
}
.Share_container svg{
    margin: 5px;
    width: 30px;
    height: 30px;



}
.Share_container path {
    fill: silver;
}

/*     Button styles:
i.fb,span.fb{ color: #3b5998; }
i.vk,span.vk{ color: #45668e; }

*/
.Share_container table{

    float: right;

}
.Share_container td{
    color: silver;
    display: table-cell;
    vertical-align: middle;

    font-size: 20px;

}
.like_share hr{
    width: inherit;
    margin: 5px;
    clear:both;

    color:silver;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.fb-comments, .fb-comments span, .fb-comments iframe[style] {
    width: 100% !important;
}
.comment_wrap{
    width:900px;

}

.Share_container table{

    border-collapse: separate !important;
}
.Share_container td{

}
#fb-logo,#vk-logo {

    border-bottom: solid silver thin;
    border-left:solid silver thin;
    border-top: solid silver thin;
    border-top-left-radius: 2em;
    border-bottom-left-radius:2em;


}

#count_VK, #count_FB{
    border-bottom: solid silver thin;
    border-right: solid silver thin;
    border-top: solid silver thin;
    border-top-right-radius: 2em;
    border-bottom-right-radius:2em;
    width:30px;
    text-align: center;

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
**********************************Full Blog elements************************
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.Blog_name{
    color:#000000;

}