RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteCond %{HTTP_HOST} ^www\.volyanska\.com$
RewriteRule ^/?$ "http\:\/\/volyanska\.com\/" [R=301,L]
Redirect 301 http://www.volyanska.com/index.php http://www.volyanska.com
<IfModule mod_deflate.c>
<FilesMatch "\.(html|txt|css|js|php|pl)$">
SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>

ErrorDocument 404 /404.php

