@media screen and (max-width: 748px) {
    .navigation-internal {

    }
    .navigation-internal ul li a {
        font-size: 8px;
    }
}
#active_page{
    color: brown;
}
@font-face {
    font-family: "HeliosRegular";
    src: url("fonts/HeliosRegular/HeliosRegular.eot");
    src: url("fonts/HeliosRegular/HeliosRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/HeliosRegular/HeliosRegular.woff") format("woff"),
    url("fonts/HeliosRegular/HeliosRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
html * {
    box-sizing: border-box;
    font-size: 100%; !important;
    font-family: HeliosRegular, serif !important;

}





/* ***************************************************************************
*****************************Header Block*************************************
****************************************************************************/
.main_header {
    width: 100%;
    z-index: 9;
    position: relative;
    height: 50px;

}
.navigation {
    height: inherit;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    margin: 0;
    border-bottom:  thin solid lightgrey;


}

.navigation-internal
{
    width: 70%;
    float: left;
    display: inline-block;

}
.logo_small{
    float: left;
    position: relative;


}
.logo_small img{
    position: inherit;
    padding-top: 10px;
    height: 35px;

}

.navigation-internal ul
{
}

.navigation-internal ul li {
    display: inline-block;
    list-style-type: none;
    padding-left: 5%;
    margin-top: 17px;
}


.navigation-internal  a
{
    color: #2c3c27;
    text-transform: uppercase;
    font-size: 12px;
    font-weight:700;
    text-decoration: none;
    padding-left: 5%;
    top: 10px;



}

.navigation-external
{

    float: left;
    width: 30%;

}
.navigation-external ul {
    margin-top: 15px;
}
.navigation-external ul li {
    display: inline;
    list-style-type: none;


}
.navigation-external li a
{
    text-decoration: none;

}

#vk_like, .fb-like, .twitter-share-button{
    display:inline-block;
    vertical-align:top;
}

#vk_like, .twitter-share-button{
    padding:6px 0 0;
}

.fb-like{
    margin-right:30px;
}