<h1 class="portfolio_me">feedbacks</h1>
<div class="wrapArticle">
    <div class = "header_of_motion">
        <h2 class="Blog_name"><?= $row['name']?></h2>
        <span><?=  $Print_date?></span>
    </div>
    <div class="collage">

        <hr class="separator">
        <img src="@PREVIEW" alt="feedback">
        <p class ="text_overview">
            <div class="Wrap_pre">
                @FEEDBACK
            </div>
            <div class="Wrap_pre_ru">
                @FEEDBACK_RU
            </div>
        </p>
    </div>
 </div>
