
    <div class ="navigation">

        <div class="navigation-internal">
            <ul>
                <li id="LI_Portfolio">
                    <a id="Portfolio" href="index.html">
                        Portfolio
                    </a>
                </li>
                <li id="LI_About">
                    <a id="About" href="About">
                        About me
                    </a>
                </li>
                <li id="LI_Blog">
                    <a  id="Blog" href="Blog">
                        Blog
                    </a>
                </li>
                <li id="LI_Services">
                    <a id="Services" href="Services">
                        Services
                    </a>
                </li>
                <li id="LI_Advices">
                    <a id="Advices" href="Blog?tag=Advices">
                        Advices
                    </a>
                </li>
                <li id="LI_Feedback">
                    <a id="Feedbacks" href="Feedbacks">
                        Feedbacks
                    </a>
                </li >
                <li id="LI_Contacts">
                    <a id="Contacts" href="Contacts">
                        Contacts
                    </a>
                </li>

                    <div class="model-1">
                        <div class="languageBar">
                            <input  type="checkbox" id ="language" ng-click="setLocal($event)" ng-checked="local=='ru'">
                            <label>
                                <div class="EN_lab">EN</div>
                                <div class="RU_lab">RU</div>
                                </label>
                        </div></div>


            </ul>
        </div>
        <div class = "navigation-external">
            <ul>

                <li>
                    <a target="_blank" href="https://www.facebook.com/olga.volyanska">
                        <svg
                            viewBox="0 0 100 100">

                            <use xlink:href="#icon-fb"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://vk.com/olgavolyanska">
                        <svg
                            viewBox="0 0 100 100">

                            <use xlink:href="#icon-vk"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://instagram.com/olgavolyanska">
                        <svg
                            viewBox="0 0 100 100">

                            <use xlink:href="#icon-inst"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.pinterest.com/olgavolyanska/">
                        <svg
                            viewBox="0 0 100 100">

                            <use xlink:href="#icon-pin"></use>
                        </svg>
                    </a>

                </li>

                <li>
                    <a target="_blank" href="http://www.mywed.ru/photographer/view/profile/pollosata/">
                        <svg
                            viewBox="0 0 100 100">

                            <use xlink:href="#icon-myW"></use>
                        </svg>

                    </a>

                </li>
            </ul>

        </div>
    </div>


