<div class = "prices">
    <h4> WEDDING PHOTOGRAPHY </h4>
    <article class = "package">
        <h2> <span class = "bold"> ALL DAY </span> - UAH 10 00</h2>
            <h3> - advice </h3>
            <h3> - the work of the photographer from the fees of the bride to the final banquet </h3>
            <h3> - not less than 600 photos </h3>
            <h3> - Processing of all material </h3>
            <h3> - post photos on the flash drive </h3>
    </article>
    <article class = "package">
        <h2> <span class = "bold"> STANDART </span> - 8000 UAH </h2>

        <h3> - advice </h3>
        <h3> - the work of the photographer from the fees before the first dance of the bride </h3>
        <h3> - at least 400 photos </h3>
        <h3> - Processing of all material </h3>
        <h3> - post photos on the flash drive </h3>
    </article>
    <article class = "package">
        <h2> <span class = "bold"> LOVE STORY | FAMILY STORY </span> - 3000 UAH </h2>
            <h3> - advice </h3>
            <h3> - 2-3 hours of shooting </h3>
            <h3> - not less than 100 photos </h3>
            <h3> - Processing of all material </h3>
            <h3> - post photos on the flash drive </h3>

    </article>
    <article class = "package">
        <h2> <span class = "bold"> PROCESSING TIME </span> </h2>
            <h3> Time handling wedding - 90 days </h3>
            <h3> Love Story / Family Story - 30 days </h3>
    </article>
    <article class = "package">
        <h2> <span class = "bold"> PAYMENT </span> </h2>
            <h3> date booked after payment of  1,000 UAH, the balance - on the day of the shooting </h3
    </article>
</div>
<div class = "conditions">
    <h4> CONDITIONS </h4>
    <article class = "package">
        <p> - I shoot weddings only <span class = "bold"> European format </span> - with on-site ceremony, singlecrafted wedding styling and reasonable timing (based on weather and lighting conditions).
            <span class = "bold"> Excluded registrar, redemptions and limousines </span> </p>
    </article>
    <article class = "package">
        <p> - I live and work in Kiev, but love to travel and joy <span class = "bold"> come to another city </span>. The cost is the same as when shooting in Kiev, paid extra travel and accommodation - me and my assistant </p>
    </article>

    <article class = "package">
        <p> - wedding photography <span class = "bold"> Outside </span> - concessional </p>
    </article>


    <article class = "package">
        <p> - <span class = "bold"> treatment </span> wedding supplies - about 3 months, depending on the employment </p>
    </article>
    <article class = "package">
        <p> - the date booked after a <span class = "bold"> pre-payment in the amount of UAH 1000 </span>, the remaining amount - on the wedding day. If you change the date or for cancellations less than three months before the wedding date no refund </p>
    </article>

    <article class = "package">
        <p> - an important prerequisite for our cooperation is <span class = "bold"> your consent to the publication of </span> of your wedding photos on my website and in social services. Networks </p>
    </article>
</div>
<hr class = "separator">
<p class = "bottom_P"> If you are close to my style and you share my views on wedding photography - contact me <span id = "bold_link"> <a href="Contacts.html"> here </a> </span>
<br> I will be glad to acquaintance and a personal meeting! </p>