
   <h1 class="portfolio_me">blog<span data-ng-click="resetFilterTag()" ng-if="filterTag!==''&&filterTag!=='advices'" class="filterTag"> | {{filterTag}} <sup >x</sup></span></h1>

            <div class = "costil1"></div>
            <!-- extract all records in blog -->
            <article class="Blog_post"  data-ng-repeat="record in records| filter: {tag:filterTag}">
                <div class = "header_of_motion">
                    <a name="record.id"  href=Blog/{{record.id}}>
                        <h2 class="Blog_name"> {{record.name}} </h2>
                    </a>
                    <span> {{record.date | date:'dd-MM-yyyy'}} | <a href ="" data-ng-click="setFilterTag($event)" >{{record.tag}}</a></span>
                </div>
                <hr class="separator">

                <p class ="text_overview">
                    <div class="Wrap_pre" ng-bind-html="record.description[local]">

                    </div>

                </p>
                <div class = "Blog_photo">
                    <a href =Blog/{{record.id}}>
                        <div set-pinterest afkl-lazy-image="{{record.previews['480']}} 480w, {{record.previews['768']}} 768w, {{record.previews['960']}} 960w" class="afkl-lazy-wrapper  own-classname" ></div>

                    </a>
                </div>

                        <!--TODO Social bar -->
                <section class ="like_share">
                    <hr>

                    <div class="Share_container">
                        <a class="" href ="Blog/{{record.id}}">
                            <div class="read_more">

                            </div>
                        </a>
                        <div class="social_buttons">
                            <div class="text_share">Share on:</div>

                            <a facebook-feed-share data-url='http://zvorska.com/Blog/{{record.id}}' data-shares='shares' data-name='{{record.name}}' data-caption="zvorska.com" data-picture="http://zvorska.com/{{record.previews['960']}}" data-description="{{record['share_text'][local]}}" data-callback='callback'></a>
                            <div vkontacte data-url='http://zvorska.com/Blog/{{record.id}}'  data-name='{{record.name}}' data-caption='zvorska.com' data-picture="http://zvorska.com/{{record.previews['960']}}" data-description="{{record['share_text'][local]}}"></div>
                        </div>
                    </div>



                    <hr>
                </section>

            </article>


