
   <h1 class="portfolio_me">blog</h1>
   <div data-ng-click="resetFilterTag()" ng-if="filterTag!==''&&filterTag!=='advices'" class="filterTag">{{filterTag}} <sup >x</sup></div>
            <div class = "costil1"></div>
            <!-- extract all records in blog -->
            <article class="Blog_post"  data-ng-repeat="record in records| filter: {tag:filterTag}">
                <div class = "header_of_motion">
                    <a name="record.id"  href=#/Blog/{{record.id}}>
                        <h2 class="Blog_name"> {{record.name}} </h2>
                    </a>
                    <span> {{record.date | date:'dd MMMM yyyy'}} | <a href ="" data-ng-click="setFilterTag($event)" >{{record.tag}}</a></span>
                </div>
                <hr class="separator">

                <p class ="text_overview">
                    <div class="Wrap_pre" ng-bind-html="record.description[local]">

                    </div>

                </p>
                <div class = "Blog_photo">
                    <a href =#/Blog/{{record.id}}>
                        <div afkl-lazy-image="{{record.preview['480']}} 480w, {{record.preview['768']}} 768w, app/img/blank.jpg 960w" class="afkl-lazy-wrapper  own-classname" ></div>

                    </a>
                </div>

                        <!--TODO Social bar -->
                <section class ="like_share">
                    <hr>

                    <div class="Share_container">
                        <div class="read_more">
                            <a href ="#/Blog/{{record.id}}">
                                <svg>
                                    <use xlink:href="#readmore"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="social_buttons">
                            <div class="text_share">Share on:</div>
                            <a facebook-feed-share data-url='http://zvorska.com/#/Blog/{{record.id}}' data-shares='shares' data-name='{{record.name}}' data-caption="zvorska.com" data-picture='http://zvorska.com/Ava.jpg' data-description="{{record.shareDesc[local]}}" data-callback='callback'></a>
                            <div vkontacte data-url='http://zvorska.com/#/Blog/{{record.id}}' data-name='{{record.name}}'  data-caption="zvorska.com" data-picture="{{record.preview['768']}}" data-description="{{record.shareDesc[local]}}"></div>
                        </div>
                    </div>



                    <hr>
                </section>

            </article>


