<h1 class="portfolio_me">portfolio</h1>
<div data-ng-click="resetFilterTag()" ng-if="filterTag!==''&&filterTag!=='advices'" class="filterTag">{{filterTag}} <sup >x</sup></div>
<a href=Blog/{{record.id}} ng-repeat="record in records | filter: {tag:filterTag}">
    <div class="Preview_poligon">

        <div class="Preview_photo">
            <div afkl-lazy-image="{{record.preview['480']}} 480w, {{record.preview['768']}} 768w, {{record.preview['960']}}960w" class="afkl-lazy-wrapper  own-classname"></div>

        </div>
        <div class="Preview_info">

                {{record.name}}
                <br>
                {{record.date| date:'dd-MM-yyyy'}}
                <br>
                {{record.tag}}


    </div>
</div>
</a>